<!doctype html>
<head>
    <link href="{{url_for('static',filename='css/blog.css')}}" rel = 'stylesheet' type = 'text/css' />
<title>Tiny Blog</title>
</head>

<body>
{% block content %} 
{% endblock %}
</body>
</html>
