{% extends "basic_template.html" %}
{% block content %}
<div id = 'blog_container'>
	<div id = 'blog_side_bar'>
		<the_tag class = 'blog_heading'>Recent Entries</the_tag><br />
			{% for blog in blog_entries %}
			{{blog[0]|datetime}} - <a class = 'nav' href = '/blog/entry/{{blog[2]}}'>{{blog[1]}}</a>
			<br />
			{% endfor %}
	<br />
		<the_tag class = 'blog_heading'>Tags</the_tag><br /><br />
			{% for tag in tags %}
				<a href = "/blog/tag/{{tag.tag_string}}"><span class = 'heading'>{{tag.tag_string}}</span></a>
			{% endfor %}
	</div>

	<div id = 'blog_header'>{% block blog_header %}  {% endblock %} </div>
	<div id = 'blog_content'>
		{% block blog_content %}
		 {% for entry in preview_entries %}
		  <div class = 'p_title'><the_tag class = 'preview_title'><a href = '/blog/entry/{{entry.id}}'>{{entry.title}}</a></the_tag><br />
		  <the_tag class = 'preview_date'>  - {{entry.date_added|datetime('full')}}</the_tag></div>
		{% for tag in entry.tags %}
	  	 <a href = "/blog/tag/{{tag.tag_string.tag_string}}">{{tag.tag_string.tag_string}}</a>, 
		{% endfor %}
			<br /><br />
		 {% endfor %}
		
		{% endblock %} 
	</div>

</div>

{% endblock %}
