.breaker {
		float: none;
}
#blog_header{
		font-size: 1.6em;	
		padding: 10px;
		float:left;
		width: 750px;
		font-family: 'Roboto Condensed', sans-serif;
}


#blog_container{
		height: 400px;
}

#blog_content {
		font-size: 1em;
		padding: 10px;
		width: 750px;
		float: left;
		font-family: 'Roboto', sans-serif;
}

#blog_side_bar{
		width: 200px;
		padding-left: 10px;
		border-left: 1px solid black;
		float: right;
		height: 100%;
}

.blog_heading {
		font-size: 1.2em;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
}

.heading a {
		text-decoration: none;
		color: white;
}

.preview_title{
                font-size: 1.2em;
                font-weight: bold;
}
.preview_date{
                text-align: right;
}


.p_date{
		width: 100%;
		text-align: right;
		border
}
