a{text-decoration: none;}
a:link {color:red;}
a:visited{color:darkred;}
a:hover{color: black;}
a:active{color:red;}


#header h1 {
		color: black;
		font-size: 24px;
		font-weight: 100;
		font-family: 'Roboto Slab', serif;
	}

.centered {
		margin: 0 auto;
		width: 1000px;
	}

body{
	background: #ECECEC;
	}

.navigation_container {
		border: 1px solid black;
		border-top: none;
		border-radius: 5px;
			}


#main_body {
		min-height: 400px;
		}


#main_body h1{
		font-size: 28px;
		font-weight: 600;
		font-family: 'Roboto Condensed', serif;

		}

span.clear{
	clear: left;
	display: block;
	}

#body_container {
		width: 1000px;
		overflow: hidden;
		padding: 30px;
		background: white;
		border: 3px solid black;
		min-height: 400px;
		border-radius: 10px;
		box-shadow: 5px 5px 5px grey;
		position: relative;
		font-size: 13px; 
		}

.heading	{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		background: #000000;
		color: white;
		font-family: 'Roboto Condensed', sans-serif;	
		font-size: 14px;
		font-weight: bold;
		border-radius: 5px;
		
		}
#main_body p {
		font-family: 'Roboto', sans-serif;
		}

.col		{
		float: left;
		width: 33%;
		margin-left: auto;
		position: relative;
		}

#footer {
		bottom: 10px;
		font-size: 12px;
		padding-left: 30px;
		padding-right: 30px;
		width: 90%;
		text-align: center;
	}

#footer_b {
		border-bottom: 2px solid black;

		}

